body {
    font-size: 14px;
    color: #666;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

blockquote {
    margin: 0;
}

.custom-tabs-container {
    border-bottom: 1px solid #f1f1f1;
    a {
        border-bottom: 3px solid transparent;
        display: inline-block;
        padding: 5px 20px;
        font-weight: 500;
        text-decoration: none;
        color: var(--main-font-color);
        cursor: pointer;
    }
    a.active {
        border-bottom-color: var(--active-border-color);
        background: white;
        color: var(--main-font-color);
    }
}

form {
    label {
        font-weight: 400;
    }
}

fieldset {
    legend {
        position: relative;
        span {
            display: inline-block;
            padding: 3px 10px;
            position: relative;
            background: white;
            margin-left: 25px;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
    legend::before {
        content: "";
        position: absolute;
        bottom: 19px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
    }
}